.item-recommend {
  position: relative;
  margin-top: 120px;
  padding-top: 120px;
  border-top: 1px solid #ddd;

  .rec-title {
    margin-top: 50px;
    font-size: 30px;
    font-weight: 800;
    line-height: 36px;
    text-align: center;
  }

  .rec-product-wrap {
    margin-top: 100px;
  }
}
